
// ページネーション
.single_page_nav {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  letter-spacing: 0.1em;
  position: relative;
  border-top: solid 2px #330115;
  border-bottom: solid 2px #330115;
  padding-top: 43px;
  padding-bottom: 43px;

  @media screen and (max-width: 768px){
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 22px;
  }
}

.article {
  margin: 0 30px 150px;

  @media screen and (max-width: 768px){
    margin: 0 20px 70px;

  }
}

.btn {
  width: 260px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  border: solid 2px #330115;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 9px;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-image: url(../img/common/icon_arrow_brown.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 768px){
    width: 232px;
    height: 47px;
    font-size: 16px;
    margin: 36px auto 0;
    border-bottom: solid 1.5px #330115;
  }
}

// read moreボタン
.view-more-button {
  width: 232px;
  height: 55px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #330115;
  border: solid 1.5px #330115;
  font-family: copperplate, serif;
  font-size: 18px;
  font-weight: 700;
}


iframe {
  width: 100%;
  &.event-form-default{
    height: 820px;
    @media all and (max-width: 480px){
      height: 570px;
    }
  }
}

.sp_only {
  display: none;
  @media screen and (max-width: 768px){
      display: block;
  }
}

.form_tbl {
  display: block;
  width: 100%;


  tr {
    tbody {
      display: block;
      width: 100%;
    }
    .s_i_t {

      &:first-of-type {
        width: 40%;
        margin-top: 20px;

        margin-bottom: 0px;
        @media screen and (max-width: 768px){
          width: 100%;
          margin-top: 10px;

        }
      }
    }
  }

  td {
    display: block;
    width: 100%;
  }

  .sp_none {
    display: none;
  }
}

.f_t_b {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @media screen and (max-width: 768px){
    flex-wrap: wrap;
  }
}

.f_s_h,
.f_s_n {
  font-size: 12px;
  margin-right: 5px;

}


