.blog_mv {
  width: 100%;
  height: 100vh;
  background-image: url(../img/blog/blog_mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .blog_mv {
    background-image: url(../img/blog/blog_mv_sp.jpg);
  }
}
.blog_mv::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(84, 85, 83, 0.3);
  background-size: 100%;
  background-repeat: no-repeat;
}
.blog_mv .mv_lead {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.blog_mv .mv_lead_en {
  display: block;
  font-size: 83px;
  line-height: 1.05;
  letter-spacing: 0.06em;
  color: #fff;
  font-weight: 700;
  padding-top: 73px;
}
@media screen and (max-width: 768px) {
  .blog_mv .mv_lead_en {
    font-size: 3.8rem;
    padding-top: 36px;
  }
}
.blog_mv .mv_lead_ja {
  display: block;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  padding-top: 11px;
}
@media screen and (max-width: 768px) {
  .blog_mv .mv_lead_ja {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 0;
  }
}

.blog_content_cat_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  padding: 15px 20px;
  width: 280px;
  border-top: solid 1.5px #330115;
  border-bottom: solid 1.5px #330115;
}
@media screen and (max-width: 768px) {
  .blog_content_cat_wrap {
    overflow: hidden;
  }
}
.blog_content_cat_wrap:first-of-type {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .blog_content_cat_wrap:first-of-type {
    margin-right: 0;
  }
}
.blog_content_cat_wrap:last-of-type {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .blog_content_cat_wrap:last-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .blog_content_cat_wrap {
    width: 100%;
    margin-top: 0px;
    padding: 13px 10px 13px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .blog_content_cat_wrap.sp_only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.blog_content_cat {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .blog_content_cat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
    padding-top: 52px;
  }
}

.blog_content_cat_text {
  font-size: 14px;
  color: #8D7367;
}

.blog_content_select_arrow {
  position: relative;
}
.blog_content_select_arrow::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 10px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/blog/select_arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.blog_content_select {
  width: 140px;
  margin-left: 20px;
  background: transparent;
  padding-right: 20px;
  color: #330115;
  border: none;
  font-size: 14px;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
@media screen and (max-width: 768px) {
  .blog_content_select {
    text-align: right;
  }
}

.blog_content_time {
  width: 120px;
  margin-left: 20px;
  color: #330115;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.blog_content_grid {
  max-width: 1240px;
  width: 100%;
  margin: 70px auto 0;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .blog_content_grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto 0;
    padding: 0 20px;
  }
}
.blog_content_grid .post_box {
  width: 31%;
  padding-bottom: 20px;
  border-bottom: solid 1px #8D7367;
  margin-bottom: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .blog_content_grid .post_box {
    width: 100%;
    margin-bottom: 20px;
  }
}
.blog_content_grid .post_box:nth-of-type(3n) {
  margin-right: 0;
}
.blog_content_grid .post_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 373px;
}
@media screen and (max-width: 768px) {
  .blog_content_grid .post_box a {
    height: 350px;
  }
}
.blog_content_grid .post_box a * {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.blog_content_grid .post_box a:hover {
  opacity: 0.7;
}
.blog_content_grid .post_box a:hover * {
  opacity: 0.7;
}
.blog_content_grid .news_link_box_img {
  height: 245px;
}
@media screen and (max-width: 768px) {
  .blog_content_grid .news_link_box_img {
    height: 222px;
  }
}
.blog_content_grid .news_link_box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_content_grid .news_link_box_img img:hover {
  opacity: 1;
}

.blog_box_cat {
  font-size: 12px;
  font-weight: 700;
  color: #8D7367;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .blog_box_cat {
    font-size: 11px;
    margin-top: 16px;
  }
}

.blog_box_title {
  font-size: 16px;
  line-height: 1.5;
  color: #330115;
  margin-top: 10px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .blog_box_title {
    font-size: 16px;
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.blog_box_time {
  color: #8D7367;
  font-size: 11px;
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .blog_box_time {
    font-size: 12px;
  }
}

.blog_content {
  padding-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .blog_content {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .blog_content .page_navi_wrap {
    padding: 0 20px;
  }
}
.blog_content .page_navi {
  max-width: 976px;
  margin: 60px auto 0;
  width: 100%;
}

.blog-detail__fv__img img {
  width: 100%;
}

.blog-detail__fv {
  position: relative;
}

.blog-detail__fv__lead {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.blog-detail__fv__lead .mv_lead_en {
  display: block;
  font-size: 83px;
  line-height: 1.05;
  letter-spacing: 0.06em;
  color: #fff;
  font-weight: 700;
  padding-top: 73px;
}
@media screen and (max-width: 768px) {
  .blog-detail__fv__lead .mv_lead_en {
    font-size: 3.6rem;
    padding-top: 36px;
  }
}
.blog-detail__fv__lead .mv_lead_ja {
  display: block;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  padding-top: 11px;
}
@media screen and (max-width: 768px) {
  .blog-detail__fv__lead .mv_lead_ja {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 0;
  }
}

.blog-detail__article__cat {
  padding-left: 20px;
  border-left: solid 1px #330115;
  margin-left: 14px;
  margin-right: 58px;
  line-height: 1;
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__cat {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 6px;
    margin-right: -16px;
  }
}

.blog-detail__article__inner {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 30px;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__inner {
    padding: 38px 0px 100px;
  }
}

.blog-detail__content {
  margin-top: 110px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .blog-detail__content {
    text-align: justify;
  }
}
.blog-detail__content img {
  width: 640px;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .blog-detail__content img {
    width: 100%;
  }
}
.blog-detail__content pre {
  width: 100%;
  overflow-x: auto;
}
.blog-detail__content a {
  text-decoration: underline;
}
.blog-detail__content figcaption {
  text-align: center;
}
.blog-detail__content strong {
  font-weight: bold;
}
.blog-detail__content .link_list {
  list-style: disc;
  padding-left: 6%;
}
.blog-detail__content .link_list li {
  margin-bottom: 30px;
}
.blog-detail__content .link_list li a {
  color: #24497b;
  text-decoration: underline;
}
.blog-detail__content .link_list li .link_list_min {
  list-style: disc;
  margin-top: 20px;
  margin-left: 20px;
}
.blog-detail__content ul {
  list-style-type: disc;
  margin-top: 20px;
  padding-left: 25px;
}
.blog-detail__content ul li {
  margin-bottom: 15px;
}
.blog-detail__content ul ul {
  list-style-type: circle;
  margin-top: 15px;
}
.blog-detail__content ol {
  list-style-type: decimal;
  margin-top: 20px;
  padding-left: 25px;
}
.blog-detail__content ol li {
  margin-bottom: 15px;
}
.blog-detail__content .wp-embedded-content {
  display: none;
}
.blog-detail__content blockquote {
  position: relative;
  margin: 30px 0;
  padding: 10px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  color: #555;
}
.blog-detail__content blockquote.wp-embedded-content {
  display: inline-block;
}
.blog-detail__content blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
  z-index: 10;
}
.blog-detail__content blockquote cite {
  display: block;
  text-align: justify;
  color: #888888;
  font-size: 0.9em;
  z-index: 10;
}

.blog-detail__article__inner2 {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__inner2 {
    padding: 0;
  }
}

.blog-detail__article__other__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-detail__article__other__list .post_box {
  width: 31%;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: solid 1px #8D7367;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__other__list .post_box {
    width: 48%;
    margin-right: 13px;
    margin-bottom: 20px;
  }
  .blog-detail__article__other__list .post_box:nth-of-type(2n) {
    margin-right: 0;
  }
}
.blog-detail__article__other__list .post_box:nth-of-type(3n) {
  margin-right: 0;
}
.blog-detail__article__other__list .news_link_box_img {
  height: 245px;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__other__list .news_link_box_img {
    height: 105px;
  }
}
.blog-detail__article__other__list .news_link_box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-detail__article__other__list .news_link_box_img img:hover {
  opacity: 1;
}

.blog-detail__article__related {
  max-width: 1240px;
  width: 100%;
  padding: 0 30px 200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__related {
    padding: 0 20px 100px;
  }
}

.blog-detail__article__related__content {
  margin-top: 42px;
}
@media screen and (max-width: 768px) {
  .blog-detail__article__related__content {
    margin-top: 32px;
  }
}

.blog-detail__article__related__btn {
  margin: 30px auto 0;
}
.blog-detail__article__related__btn .view-more-button {
  margin: 0 auto;
}/*# sourceMappingURL=blog.css.map */