@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #330115;
  font-weight: normal;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", copperplate, serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
body:before {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/top/bg_img.jpg);
  background-size: cover;
  background-position: center center;
}
body.active {
  overflow: hidden;
}
body.active .right_nav {
  opacity: 0;
  pointer-events: none;
}
body.active .btn_hamburger.tophamburger span {
  background-color: #330115;
}
body.active .btn_hamburger.tophamburger span:first-child {
  -webkit-transform: rotate(160deg) translate(3px, -3px);
          transform: rotate(160deg) translate(3px, -3px);
}
body.active .btn_hamburger.tophamburger span:last-child {
  -webkit-transform: rotate(-160deg) translate(3px, 3px);
          transform: rotate(-160deg) translate(3px, 3px);
}
body.active .header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
body.active .header .headerwrap .headerlogo {
  opacity: 0;
  pointer-events: none;
}
body.active .header .headerwrap .rightwrap .headerlink, body.active .header .headerwrap .rightwrap .right {
  opacity: 0;
  pointer-events: none;
}
body.active .header .headerwrap .rightwrap .btn_hamburger span {
  background-color: #330115;
}
body.active .header .headerwrap .rightwrap .btn_hamburger span:first-child {
  -webkit-transform: rotate(160deg) translate(3px, -3px);
          transform: rotate(160deg) translate(3px, -3px);
}
body.active .header .headerwrap .rightwrap .btn_hamburger span:last-child {
  -webkit-transform: rotate(-160deg) translate(3px, 3px);
          transform: rotate(-160deg) translate(3px, 3px);
}
body.active .menu_hamburger {
  opacity: 1;
  pointer-events: all;
}

.mincho {
  font-family: copperplate, "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.copperplate {
  font-family: copperplate, serif;
  font-weight: 600;
}

.notosans {
  font-family: noto-sans, sans-serif;
}

strong {
  font-weight: bold;
}

a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
a img {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

a:hover, a:hover img {
  opacity: 0.7;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  a:hover {
    opacity: 1;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}
/*  共通アニメーション  */
@-webkit-keyframes fadein_fv {
  from {
    -webkit-filter: blur(14px);
            filter: blur(14px);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadein_fv {
  from {
    -webkit-filter: blur(14px);
            filter: blur(14px);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.top_mv .textwrap {
  opacity: 0;
  -webkit-animation: fadein_fv 750ms linear 500ms 1 forwards;
          animation: fadein_fv 750ms linear 500ms 1 forwards;
}
.top_mv .textwrap .sub {
  letter-spacing: 0.3em;
}
.top_mv .newswrap {
  opacity: 0;
  -webkit-animation: fadein_fv 750ms linear 500ms 1 forwards;
          animation: fadein_fv 750ms linear 500ms 1 forwards;
}
.top_mv .link_wrap {
  opacity: 0;
  -webkit-animation: fadein_fv 750ms linear 500ms 1 forwards;
          animation: fadein_fv 750ms linear 500ms 1 forwards;
}

.work_mv .mv_lead, .news_mv .mv_lead, .blog_mv .mv_lead, .cn3_mv .mv_lead, .realestate_mv .mv_lead {
  opacity: 0;
  -webkit-animation: fadein_fv 750ms linear 500ms 1 forwards;
          animation: fadein_fv 750ms linear 500ms 1 forwards;
}

.news-detail__fv .news-detail__fv__lead {
  opacity: 0;
  -webkit-animation: fadein_fv 750ms linear 500ms 1 forwards;
          animation: fadein_fv 750ms linear 500ms 1 forwards;
}

.blog-detail__fv .blog-detail__fv__lead {
  opacity: 0;
  -webkit-animation: fadein_fv 750ms linear 500ms 1 forwards;
          animation: fadein_fv 750ms linear 500ms 1 forwards;
}

/*  ヘッダー、メニュー  */
.btn_hamburger.tophamburger {
  width: 45px;
  height: 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  margin-right: 0;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 105;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn_hamburger.tophamburger {
    width: 26px;
    top: 20px;
    right: 10px;
  }
}
.btn_hamburger.tophamburger span {
  width: 100%;
  height: 2px;
  background-color: #330115;
  position: absolute;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.btn_hamburger.tophamburger span:first-child {
  top: 0;
}
.btn_hamburger.tophamburger span:last-child {
  bottom: 0;
}

.header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(rgba(0, 0, 0, 0.3)), color-stop(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.header.blogheader {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.header.blogheader.show {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 768px) {
  .header {
    height: 45px;
  }
}
.header .headerwrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .headerwrap .headerlogo {
  margin: auto;
  margin-left: 40px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  line-height: 0;
}
.header .headerwrap .headerlogo.bloghead {
  margin-left: auto;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .header .headerwrap .headerlogo.bloghead img {
    height: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .header .headerwrap .headerlogo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header .headerwrap .headerlogo {
    margin-left: 12px;
  }
}
.header .headerwrap .headerlogo img {
  display: block;
}
@media screen and (max-width: 1100px) {
  .header .headerwrap .headerlogo img {
    width: auto;
    height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .header .headerwrap .headerlogo img {
    height: 26px;
  }
}
.header .headerwrap .rightwrap {
  margin: auto;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1100px) {
  .header .headerwrap .rightwrap {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header .headerwrap .rightwrap {
    margin-right: 12px;
  }
}
.header .headerwrap .rightwrap .headerlink {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #fff;
  margin-right: 30px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media screen and (max-width: 1350px) {
  .header .headerwrap .rightwrap .headerlink {
    font-size: 1.4rem;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .header .headerwrap .rightwrap .headerlink {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .headerwrap .rightwrap .headerlink {
    display: none;
  }
}
.header .headerwrap .rightwrap .headerlink.accwrap {
  position: relative;
  padding-right: 20px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
.header .headerwrap .rightwrap .headerlink.accwrap:after {
  content: "";
  width: 8px;
  height: 8px;
  border: 0;
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media screen and (max-width: 1350px) {
  .header .headerwrap .rightwrap .headerlink.accwrap:after {
    -webkit-transform: translateY(2px) rotate(45deg);
            transform: translateY(2px) rotate(45deg);
  }
}
@media screen and (max-width: 1100px) {
  .header .headerwrap .rightwrap .headerlink.accwrap:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.header .headerwrap .rightwrap .headerlink.accwrap:hover {
  opacity: 0.7;
}
.header .headerwrap .rightwrap .headerlink.accwrap .acc {
  width: 230px;
  position: absolute;
  top: 45px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px;
}
.header .headerwrap .rightwrap .headerlink.accwrap .acc .sublink {
  display: block;
  margin-top: 3px;
}
.header .headerwrap .rightwrap .headerlink.accwrap .acc .sublink:first-child {
  margin-top: 0;
}
.header .headerwrap .rightwrap .headerlink.accwrap .acc .sublink:after {
  content: "";
  width: 8px;
  height: 5px;
  background-image: url(../img/common/icon_arrow.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin-left: 24px;
  vertical-align: middle;
}
.header .headerwrap .rightwrap .headerlink.accwrap.active:hover {
  opacity: 1;
}
.header .headerwrap .rightwrap .headerlink.accwrap.active:after {
  -webkit-transform: translateY(8px) rotate(225deg);
          transform: translateY(8px) rotate(225deg);
}
.header .headerwrap .rightwrap .headerlink.accwrap.active .acc {
  opacity: 1;
  pointer-events: all;
}
.header .headerwrap .rightwrap .headerlink span {
  font-size: 1.1rem;
  color: #fff;
  display: block;
}
@media screen and (max-width: 1100px) {
  .header .headerwrap .rightwrap .headerlink span {
    font-size: 0.9rem;
  }
}
.header .headerwrap .rightwrap .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media screen and (max-width: 1350px) {
  .header .headerwrap .rightwrap .right {
    margin-right: 15px;
  }
}
.header .headerwrap .rightwrap .right a {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
}
@media screen and (max-width: 1350px) {
  .header .headerwrap .rightwrap .right a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .headerwrap .rightwrap .right a {
    letter-spacing: 0.05em;
  }
}
.header .headerwrap .rightwrap .right a:last-child {
  border-left: solid 1px #fff;
  margin-left: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 1350px) {
  .header .headerwrap .rightwrap .right a:last-child {
    margin-left: 10px;
    padding-left: 10px;
  }
}
.header .headerwrap .rightwrap .btn_hamburger {
  width: 30px;
  height: 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  margin-right: 0;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .headerwrap .rightwrap .btn_hamburger {
    width: 26px;
  }
}
.header .headerwrap .rightwrap .btn_hamburger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header .headerwrap .rightwrap .btn_hamburger span:first-child {
  top: 0;
}
.header .headerwrap .rightwrap .btn_hamburger span:last-child {
  bottom: 0;
}

@-webkit-keyframes ScrollBar {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes ScrollBar {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
.menu_hamburger {
  width: 100%;
  height: 100vh;
  background-image: url(../img/common/menu_back.jpg);
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
}
.menu_hamburger .wrap {
  width: calc(100% - 220px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 110px auto 50px;
}
@media screen and (min-width: 1430px) {
  .menu_hamburger .wrap {
    width: 1190px;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap {
    width: 90%;
    display: block;
    margin: 60px auto 80px;
  }
}
.menu_hamburger .wrap .scroll {
  position: absolute;
  right: 55px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .scroll {
    display: none;
  }
}
.menu_hamburger .wrap .scroll span {
  width: 1px;
  height: 50px;
  display: inline-block;
  margin-top: 10px;
  overflow: hidden;
  background-color: rgba(102, 63, 72, 0.3);
}
.menu_hamburger .wrap .scroll span:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #663F48;
  display: block;
  -webkit-animation: ScrollBar 960ms 1920ms infinite;
          animation: ScrollBar 960ms 1920ms infinite;
}
.menu_hamburger .wrap .scroll p {
  font-size: 1.6rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 0;
  letter-spacing: 0.02em;
}
.menu_hamburger .wrap .left {
  width: calc(50% - 15px);
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .left {
    width: 100%;
  }
}
.menu_hamburger .wrap .left .bnr {
  width: 100%;
  position: relative;
  display: block;
  margin-top: 7px;
}
@media screen and (max-width: 1430px) {
  .menu_hamburger .wrap .left .bnr {
    min-height: 172px;
  }
}
@media screen and (max-width: 1380px) {
  .menu_hamburger .wrap .left .bnr {
    min-height: 170px;
  }
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .left .bnr {
    min-height: 151px;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .left .bnr {
    margin-top: 4px;
  }
}
.menu_hamburger .wrap .left .bnr:after {
  content: "";
  height: 0;
  padding-top: 29.56%;
  display: block;
}
.menu_hamburger .wrap .left .bnr:nth-child(1) {
  background-image: url(../img/common/menu_img01.jpg);
  background-position: center center;
  background-size: cover;
  margin-top: 0;
}
.menu_hamburger .wrap .left .bnr:nth-child(2) {
  background-image: url(../img/common/menu_img02.jpg);
  background-position: center center;
  background-size: cover;
}
.menu_hamburger .wrap .left .bnr:nth-child(3) {
  background-image: url(../img/common/menu_img03.jpg);
  background-position: center center;
  background-size: cover;
}
.menu_hamburger .wrap .left .bnr:nth-child(4) {
  background-image: url(../img/common/menu_img04.jpg);
  background-position: center center;
  background-size: cover;
}
.menu_hamburger .wrap .left .bnr .sub {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, calc(-50% - 40px));
          transform: translate(50%, calc(-50% - 40px));
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .left .bnr .sub {
    font-size: 1.2rem;
    -webkit-transform: translate(50%, calc(-50% - 28px));
            transform: translate(50%, calc(-50% - 28px));
  }
}
.menu_hamburger .wrap .left .bnr .title {
  width: 100%;
  font-size: 3.3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, calc(-50% - 10px));
          transform: translate(50%, calc(-50% - 10px));
}
.menu_hamburger .wrap .left .bnr .title.log {
  -webkit-transform: translate(50%, calc(-50% - 1px));
          transform: translate(50%, calc(-50% - 1px));
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .left .bnr .title {
    font-size: 2.4rem;
    -webkit-transform: translate(50%, calc(-50% - 5px));
            transform: translate(50%, calc(-50% - 5px));
  }
  .menu_hamburger .wrap .left .bnr .title.log {
    -webkit-transform: translate(50%, calc(-50% + 5px));
            transform: translate(50%, calc(-50% + 5px));
  }
  .menu_hamburger .wrap .left .bnr .title img {
    width: 280px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .left .bnr .title {
    font-size: 2.7rem;
  }
}
.menu_hamburger .wrap .left .bnr .text {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, calc(-50% + 30px));
          transform: translate(50%, calc(-50% + 30px));
}
.menu_hamburger .wrap .left .bnr .text.log {
  -webkit-transform: translate(50%, calc(-50% + 35px));
          transform: translate(50%, calc(-50% + 35px));
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .left .bnr .text {
    font-size: 1.2rem;
    -webkit-transform: translate(50%, calc(-50% + 25px));
            transform: translate(50%, calc(-50% + 25px));
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .left .bnr .text {
    -webkit-transform: translate(50%, calc(-50% + 20px));
            transform: translate(50%, calc(-50% + 20px));
  }
}
.menu_hamburger .wrap .right {
  width: calc(50% - 15px);
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right {
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
  }
}
.menu_hamburger .wrap .right .right-left, .menu_hamburger .wrap .right .right-right {
  width: 240px;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-left, .menu_hamburger .wrap .right .right-right {
    width: calc(50% - 5px);
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-left, .menu_hamburger .wrap .right .right-right {
    width: 100%;
  }
}
.menu_hamburger .wrap .right .right-left > a, .menu_hamburger .wrap .right .right-right > a {
  margin-top: 25px;
  display: block;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-left > a, .menu_hamburger .wrap .right .right-right > a {
    margin-top: 20px;
  }
}
.menu_hamburger .wrap .right .right-left > a:first-child, .menu_hamburger .wrap .right .right-right > a:first-child {
  margin-top: 0;
}
.menu_hamburger .wrap .right .right-left > a.sublink, .menu_hamburger .wrap .right .right-right > a.sublink {
  line-height: 0;
  margin-top: 15px;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-left > a.sublink, .menu_hamburger .wrap .right .right-right > a.sublink {
    margin-top: 10px;
  }
  .menu_hamburger .wrap .right .right-left > a.sublink img, .menu_hamburger .wrap .right .right-right > a.sublink img {
    width: auto;
    height: 10px;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-left > a.sublink, .menu_hamburger .wrap .right .right-right > a.sublink {
    margin-top: 18px;
  }
  .menu_hamburger .wrap .right .right-left > a.sublink.spmgt10, .menu_hamburger .wrap .right .right-right > a.sublink.spmgt10 {
    margin-top: 10px;
  }
  .menu_hamburger .wrap .right .right-left > a.sublink img, .menu_hamburger .wrap .right .right-right > a.sublink img {
    height: 15px;
  }
}
.menu_hamburger .wrap .right .right-left > a.sublink:before, .menu_hamburger .wrap .right .right-right > a.sublink:before {
  content: "";
  width: 18px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #8D7367;
}
.menu_hamburger .wrap .right .right-left > a span:first-child, .menu_hamburger .wrap .right .right-right > a span:first-child {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.1;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-left > a span:first-child, .menu_hamburger .wrap .right .right-right > a span:first-child {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-left > a span:first-child, .menu_hamburger .wrap .right .right-right > a span:first-child {
    font-size: 2.7rem;
  }
}
.menu_hamburger .wrap .right .right-left > a span:last-child, .menu_hamburger .wrap .right .right-right > a span:last-child {
  font-size: 1.4rem;
  display: block;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-left > a span:last-child, .menu_hamburger .wrap .right .right-right > a span:last-child {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-left > a span:last-child, .menu_hamburger .wrap .right .right-right > a span:last-child {
    font-size: 1.3rem;
  }
}
.menu_hamburger .wrap .right .right-left {
  margin-right: 60px;
}
@media screen and (max-width: 1350px) {
  .menu_hamburger .wrap .right .right-left {
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-right {
    margin-top: 25px;
  }
}
.menu_hamburger .wrap .right .right-foot {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot {
    margin-top: 45px;
  }
}
.menu_hamburger .wrap .right .right-foot > a {
  width: calc(50% - 3px);
  background-color: rgba(141, 115, 103, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.menu_hamburger .wrap .right .right-foot > a:first-child {
  width: 100%;
  margin-bottom: 6px;
}
.menu_hamburger .wrap .right .right-foot > a:first-child > div span:first-child {
  font-size: 33px;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-foot > a:first-child > div span:first-child {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot > a:first-child > div span:first-child {
    font-size: 3rem;
  }
}
.menu_hamburger .wrap .right .right-foot > a:nth-child(2) {
  margin-right: 6px;
}
.menu_hamburger .wrap .right .right-foot > a > div {
  line-height: 1.65;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot > a > div {
    line-height: 1.2;
  }
}
.menu_hamburger .wrap .right .right-foot > a > div span:first-child {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 1380px) {
  .menu_hamburger .wrap .right .right-foot > a > div span:first-child {
    font-size: 20px;
  }
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-foot > a > div span:first-child {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot > a > div span:first-child {
    font-size: 1.4rem;
    letter-spacing: 0.03em;
  }
}
.menu_hamburger .wrap .right .right-foot > a > div span:last-child {
  font-size: 1.4rem;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-foot > a > div span:last-child {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
.menu_hamburger .wrap .right .right-foot .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: dashed 1px #8D7367;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot .info {
    display: block;
    text-align: center;
    margin-top: 25px;
    border-bottom: none;
  }
}
.menu_hamburger .wrap .right .right-foot .info > p {
  font-size: 24px;
  font-weight: 600;
  margin-right: auto;
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-foot .info > p {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot .info > p {
    font-size: 2.8rem;
    line-height: 1;
  }
}
.menu_hamburger .wrap .right .right-foot .info .inforight p {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (max-width: 1380px) {
  .menu_hamburger .wrap .right .right-foot .info .inforight p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1270px) {
  .menu_hamburger .wrap .right .right-foot .info .inforight p {
    font-size: 1vw;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .right .right-foot .info .inforight p {
    font-size: 2.45vw;
    margin-top: 10px;
    display: block;
  }
}
.menu_hamburger .wrap .foot {
  width: 100%;
  margin-top: 90px;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot {
    margin-top: 60px;
  }
}
.menu_hamburger .wrap .foot .menu_foot {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .menu_foot {
    width: 256px;
    height: auto;
  }
}
.menu_hamburger .wrap .foot .linkwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 1215px) {
  .menu_hamburger .wrap .foot .linkwrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
}
.menu_hamburger .wrap .foot .linkwrap .pc_block1215 {
  width: 100%;
  display: none;
}
@media screen and (max-width: 1215px) {
  .menu_hamburger .wrap .foot .linkwrap .pc_block1215 {
    display: block;
  }
}
.menu_hamburger .wrap .foot .linkwrap .insta_link, .menu_hamburger .wrap .foot .linkwrap .facebook_link, .menu_hamburger .wrap .foot .linkwrap .youtube_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .insta_link, .menu_hamburger .wrap .foot .linkwrap .facebook_link, .menu_hamburger .wrap .foot .linkwrap .youtube_link {
    margin-right: 30px;
  }
}
.menu_hamburger .wrap .foot .linkwrap .insta_link span, .menu_hamburger .wrap .foot .linkwrap .facebook_link span, .menu_hamburger .wrap .foot .linkwrap .youtube_link span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .insta_link span, .menu_hamburger .wrap .foot .linkwrap .facebook_link span, .menu_hamburger .wrap .foot .linkwrap .youtube_link span {
    display: none;
  }
}
.menu_hamburger .wrap .foot .linkwrap .insta_link:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/common/menu_icon_insta.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin: auto;
  margin-right: 10px;
  margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .insta_link:before {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.menu_hamburger .wrap .foot .linkwrap .facebook_link:before {
  content: "";
  width: 13px;
  height: 25px;
  background-image: url(../img/common/menu_icon_facebook.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin: auto;
  margin-right: 10px;
  margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .facebook_link:before {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.menu_hamburger .wrap .foot .linkwrap .youtube_link:before {
  content: "";
  width: 32px;
  height: 25px;
  background-image: url(../img/common/menu_icon_youtube.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin: auto;
  margin-right: 10px;
  margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .youtube_link:before {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1215px) {
  .menu_hamburger .wrap .foot .linkwrap .youtube_link {
    margin-right: 0;
  }
}
.menu_hamburger .wrap .foot .linkwrap .otherlink {
  font-size: 1.4rem;
  padding: 0 40px;
  border-left: solid 1px #330115;
}
@media screen and (max-width: 1215px) {
  .menu_hamburger .wrap .foot .linkwrap .otherlink {
    margin-top: 24px;
  }
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .otherlink {
    width: 50%;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0;
  }
}
.menu_hamburger .wrap .foot .linkwrap .otherlink:last-child {
  border-right: solid 1px #330115;
}
@media screen and (max-width: 768px) {
  .menu_hamburger .wrap .foot .linkwrap .otherlink:last-child {
    padding: 0;
  }
}

/*  ナビゲーション  */
.right_nav {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.right_nav.show {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 768px) {
  .right_nav {
    width: 100%;
    top: unset;
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.right_nav .rightlink {
  width: 42px;
  height: 155px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .right_nav .rightlink {
    width: calc(50% - 2px);
    height: 40px;
  }
}
.right_nav .rightlink:last-child {
  margin-top: 2px;
}
@media screen and (max-width: 768px) {
  .right_nav .rightlink:last-child {
    margin: 0 0 0 4px;
  }
}
.right_nav .rightlink span {
  font-size: 1.4rem;
  line-height: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #fff;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .right_nav .rightlink span {
    font-size: 1.6rem;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
  }
}

/*  フッター  */
.footer {
  width: 100%;
  background-image: url(../img/common/footerback.jpg);
  background-position: center center;
  background-size: cover;
  padding: 190px 0 40px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 120px 0 65px;
  }
}
.footer .footerlogo01 {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .footer .footerlogo01 {
    max-width: 450px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .footer .footerlogo01 {
    max-width: 300px;
  }
}
.footer .snswrap {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer .snswrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}
.footer .snswrap > a {
  margin: 0 18px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .footer .snswrap > a {
    margin: auto;
    margin-top: 25px;
  }
  .footer .snswrap > a:first-child {
    margin-top: 0;
  }
}
.footer .snswrap > a.insta_link:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/common/icon_insta.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .footer .snswrap > a.insta_link:before {
    width: 22px;
    height: 22px;
  }
}
.footer .snswrap > a.facebook_link:before {
  content: "";
  width: 13px;
  height: 25px;
  background-image: url(../img/common/icon_facebook.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .footer .snswrap > a.facebook_link:before {
    width: 11px;
    height: 22px;
  }
}
.footer .snswrap > a.youtube_link:before {
  content: "";
  width: 32px;
  height: 25px;
  background-image: url(../img/common/icon_youtube.svg);
  background-position: center center;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .footer .snswrap > a.youtube_link:before {
    width: 28px;
    height: 22px;
  }
}
.footer .footerlogo02 img {
  display: block;
  margin: 45px auto 0;
}
@media screen and (max-width: 768px) {
  .footer .footerlogo02 img {
    margin-top: 40px;
  }
}
.footer .copyright {
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  margin-top: 36px;
}
@media screen and (max-width: 768px) {
  .footer .copyright {
    font-size: 1rem;
    text-align: left;
    margin-top: 26px;
    margin-left: 5%;
  }
}
.footer .pagetop {
  width: 54px;
  height: 54px;
  position: absolute;
  right: 50px;
  bottom: 40px;
  z-index: 50;
}
@media screen and (max-width: 768px) {
  .footer .pagetop {
    width: 40px;
    height: 40px;
    right: 5%;
    bottom: 65px;
  }
}
.footer .pagetop:before {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer .pagetop img {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.share-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share-buttons__item {
  margin: 0 10px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .share-buttons__item {
    width: 29px;
  }
}
.share-buttons__item img {
  width: 100%;
}

.share-buttons__wrap {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .share-buttons__wrap {
    margin-bottom: 45px;
  }
}

.share-buttons__text {
  margin-bottom: 22px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .share-buttons__text {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

.profile {
  background-color: rgba(141, 115, 103, 0.2);
  margin-bottom: 146px;
}
@media screen and (max-width: 768px) {
  .profile {
    margin-bottom: 52px;
  }
}

.profile__box {
  padding: 70px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .profile__box {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
}

.profile__img {
  width: 19%;
}
@media screen and (max-width: 768px) {
  .profile__img {
    width: 40%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.profile__img img {
  width: 100%;
}

.profile__content {
  width: 81%;
  padding-left: 42px;
}
@media screen and (max-width: 768px) {
  .profile__content {
    width: 60%;
    padding-left: 30px;
  }
}

.profile__content__job {
  line-height: 1.2;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .profile__content__job {
    font-size: 11px;
  }
}

.profile__content__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .profile__content__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.profile__content__name__ja {
  margin-top: 4px;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .profile__content__name__ja {
    font-size: 18px;
    margin-top: 7px;
    letter-spacing: 0.2em;
  }
}

.profile__content__name__en {
  font-size: 13px;
  margin-left: 23px;
}
@media screen and (max-width: 768px) {
  .profile__content__name__en {
    font-size: 10px;
    margin-left: 0;
  }
}

.profile__content__text {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.78;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .profile__content__text {
    display: none;
  }
}

.profile__content__text_sp {
  display: none;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.78;
}
@media screen and (max-width: 768px) {
  .profile__content__text_sp {
    display: block;
    padding: 0 24px 24px;
    font-size: 12px;
    margin-top: 8px;
    line-height: 1.66;
  }
}

.event-form-default {
  height: 1072px;
}

.event-form-large, .event-form-long {
  height: 1230px !important;
}

@media all and (max-width: 768px) {
  .event-form-default {
    height: 1048px;
  }
  .event-form-large, .event-form-long {
    height: 1350px !important;
  }
} /*------------------------------------------
.event-form-long {
		height: 1048px;
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.event-form-long {
	  height: 1140px;
	}
}

@media all and (max-width: 480px) {
	.event-form-long {
		height: 1160px;
	}
}
--------------------------------------------*//*# sourceMappingURL=common.css.map */