.realestate_mv {
  width: 100%;
  height: 100vh;
  background-image: url(../img/realestate/realestate_mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .realestate_mv {
    background-image: url(../img/realestate/realestate_mv_sp.jpg);
  }
}
.realestate_mv::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(84, 85, 83, 0.3);
  background-size: 100%;
  background-repeat: no-repeat;
}
.realestate_mv .mv_lead {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.realestate_mv .mv_lead_en {
  display: block;
  font-size: 83px;
  line-height: 1.05;
  letter-spacing: 0.06em;
  color: #fff;
  font-weight: 700;
  padding-top: 73px;
}
@media screen and (max-width: 768px) {
  .realestate_mv .mv_lead_en {
    font-size: 3.8rem;
    padding-top: 36px;
  }
}
.realestate_mv .mv_lead_ja {
  display: block;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  padding-top: 11px;
}
@media screen and (max-width: 768px) {
  .realestate_mv .mv_lead_ja {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 0;
  }
}

.realestate_inner {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 0 280px;
}
@media screen and (max-width: 768px) {
  .realestate_inner {
    padding: 0 20px;
  }
}

.realestate_content {
  padding-top: 80px;
  padding-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .realestate_content {
    padding-top: 38px;
    padding-bottom: 100px;
  }
}

.realestate_content_cat {
  display: none;
}
@media screen and (max-width: 768px) {
  .realestate_content_cat {
    display: block;
  }
}

.realestate_post_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .realestate_post_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.realestate_post_box {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .realestate_post_box {
    margin-bottom: 70px;
  }
}

.realestate_post_box_pic {
  width: 35.5%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .realestate_post_box_pic {
    width: 100%;
  }
}

.bg_red {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #330115;
  color: #fff;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 11px;
}

.realestate_post_right {
  width: 64.5%;
  font-weight: 700;
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .realestate_post_right {
    width: 100%;
    padding-left: 0;
    padding-top: 27px;
  }
}

.realestate_link_box_img {
  width: 100%;
  aspect-ratio: 1.5/1;
  position: relative;
}
.realestate_link_box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
.realestate_link_box_img.soldout:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(141, 115, 103, 0.75);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.realestate_link_box_img.soldout .baiyakuzumi {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 5;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
}

.realestate_post_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .realestate_post_message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.realestate_post_message_head {
  width: 22%;
  color: #8D7367;
}
@media screen and (max-width: 768px) {
  .realestate_post_message_head {
    width: 100%;
  }
}

.realestate_post_message_text {
  width: 78%;
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  .realestate_post_message_text {
    width: 100%;
    font-size: 14px;
    margin-top: 4px;
  }
}

.realestate_post_right_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.realestate_post_cat_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  border-right: solid 1px #330115;
  padding-right: 12px;
  margin-right: 12px;
}
@media screen and (max-width: 768px) {
  .realestate_post_cat_name {
    font-size: 15px;
    width: 36%;
  }
}

.realestate_post_cat_adress {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}
@media screen and (max-width: 768px) {
  .realestate_post_cat_adress {
    font-size: 15px;
  }
}

.realestate_post_title {
  font-size: 23px;
  line-height: 1.7;
  height: 33.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .realestate_post_title {
    font-size: 19px;
    margin-top: 20px;
    height: 100%;
  }
}

.realestate_post_area {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .realestate_post_area {
    font-size: 1.5rem;
    margin-top: 18px;
  }
}

.realestate_post_price {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 4px;
}
@media screen and (max-width: 768px) {
  .realestate_post_price {
    font-size: 2.5rem;
    margin-top: 0;
  }
}

.realestate_post_message {
  margin-top: 20px;
  border-top: solid 1px #8D7367;
  border-bottom: solid 1px #8D7367;
  padding: 30px 47px 30px 37px;
}
@media screen and (max-width: 768px) {
  .realestate_post_message {
    margin-top: 15px;
    padding: 25px 0;
  }
}

.realestate_post_message_head {
  font-size: 14px;
}

.realestate-detail__article__inner {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 30px 70px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__inner {
    padding: 38px 0 100px;
  }
}
.realestate-detail__article__inner td {
  white-space: normal;
}
.realestate-detail__article__inner img {
  max-width: 100%;
  height: auto;
  margin-top: 90px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__inner img {
    margin-top: 8px;
    margin-bottom: 50px;
  }
}

.realestate-detail__article__thumbnail {
  margin-top: 90px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__thumbnail {
    margin-top: 60px;
  }
}
.realestate-detail__article__thumbnail img {
  width: 100%;
}

.realestate-detail__fv__img img {
  width: 100%;
}

.realestate-detail__fv {
  position: relative;
}

.realestate-detail__fv__lead {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.realestate-detail__fv__lead .mv_lead_en {
  display: block;
  font-size: 83px;
  line-height: 1.05;
  letter-spacing: 0.06em;
  color: #fff;
  font-weight: 700;
  padding-top: 73px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__fv__lead .mv_lead_en {
    font-size: 3.6rem;
    padding-top: 36px;
  }
}
.realestate-detail__fv__lead .mv_lead_ja {
  display: block;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3em;
  padding-top: 11px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__fv__lead .mv_lead_ja {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 0;
  }
}

.realestate-detail__article__info {
  margin-top: 90px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__info {
    margin-top: 36px;
    margin-bottom: 70px;
    padding: 0;
  }
}
.realestate-detail__article__info p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__info p {
    font-size: 14px;
  }
}

.realestate-detail__content__inner {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.realestate-detail__content__inner p {
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner p {
    font-size: 14px;
  }
}
.realestate-detail__content__inner .wpcf7-form {
  width: 860px;
  background-color: rgba(141, 115, 103, 0.1);
  margin: 0 auto;
  padding: 5px 0 150px;
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl {
  width: 780px;
  border-collapse: collapse;
  margin: 60px auto 0;
  display: table;
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl {
    width: 90%;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody {
    display: block;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr {
  display: table-row;
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr {
    display: block;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr.pdt0 td {
  padding-top: 0;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td {
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 18px;
  color: #330115;
  width: 60px;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  padding: 17px 0;
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td {
    display: block;
    padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td {
    font-size: 16px;
  }
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.sp_none {
    display: none;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td:first-child {
  width: 280px;
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td:first-child {
    width: 100%;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td:last-child {
  width: 500px;
}
@media screen and (max-width: 1250px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td:last-child {
    width: 100%;
    padding-top: 0;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .txt-888 {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .txt-888 {
    font-size: 13px;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .requi {
  font-size: 15px;
  background-color: #330115;
  color: #E8E3D6;
  margin-left: 10px;
  padding: 2px 5px;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .requi.mgl0 {
  margin-left: 0;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.w95 input {
  width: 95px !important;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.w200 input {
  width: 200px !important;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .w220 {
  display: inline;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .w220 input {
  width: 220px !important;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .w220 input {
    width: 190px !important;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.td_select .wpcf7-form-control-wrap {
  position: relative;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.td_select .wpcf7-form-control-wrap.your-kibouniti {
  margin-left: 10px;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.td_select select {
  width: 45px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #330115;
  background-color: rgba(141, 115, 103, 0.15);
  border: none;
  border-radius: 0;
  margin-right: 5px;
  padding: 10px;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td.td_select.w100 select {
  width: 100px;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td .inline {
  display: inline;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td span.wpcf7-list-item {
  margin: 0 1em 0 0;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td span.wpcf7-list-item {
    margin-right: 2em;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=text], .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=email], .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td textarea {
  width: 100%;
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #330115;
  background-color: rgba(141, 115, 103, 0.15);
  border: none;
  border-radius: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=checkbox] {
  width: 20px;
  height: 20px;
  position: relative;
  border: solid 1px #330115;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: -3px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=checkbox] {
    width: 16px;
    height: 16px;
  }
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=checkbox]:checked {
  background-color: #330115;
}
.realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=checkbox]:checked:before {
  content: "";
  width: 5px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 5px;
  border-right: solid 2px #fff;
  border-bottom: solid 2px #fff;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .form_tbl tbody tr td input[type=checkbox]:checked:before {
    width: 4px;
    height: 8px;
    left: 4px;
  }
}
.realestate-detail__content__inner .wpcf7-form .line {
  width: 810px;
  height: 2px;
  background-color: #8D7367;
  margin: 90px auto;
  display: block;
}
@media screen and (max-width: 1355px) {
  .realestate-detail__content__inner .wpcf7-form .line {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .line {
    margin: 40px auto 55px;
  }
}
.realestate-detail__content__inner .wpcf7-form .submit_box {
  width: 320px;
  height: 82px;
  position: relative;
  display: block;
  margin: 90px auto 0;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .submit_box {
    width: 70%;
    height: 60px;
  }
}
.realestate-detail__content__inner .wpcf7-form .submit_box:after {
  content: "";
  width: 22px;
  height: 15px;
  background-image: url(../img/common/icon_arrow_brown.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .submit_box:after {
    width: 18px;
    height: 12px;
  }
}
.realestate-detail__content__inner .wpcf7-form .submit_box input[type=submit], .realestate-detail__content__inner .wpcf7-form .submit_box input[type=button] {
  width: 100%;
  height: 100%;
  font-family: "A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #330115;
  background: none;
  border: solid 2px #330115;
}
@media screen and (max-width: 768px) {
  .realestate-detail__content__inner .wpcf7-form .submit_box input[type=submit], .realestate-detail__content__inner .wpcf7-form .submit_box input[type=button] {
    font-size: 18px;
  }
}

.realestate-detail__article__price {
  background-color: rgba(141, 115, 103, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px 0 22px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__price {
    padding: 20px 0;
  }
}

.realestate-detail__article__nav {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__nav {
    padding: 0;
  }
}

.realestate-detail__article__info_text {
  font-weight: 500;
  color: #330115;
}

.realestate-detail__article__info_ja {
  font-size: 23px;
  color: #8D7367;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__info_ja {
    font-size: 18px;
    margin-right: 0;
  }
}

.realestate-detail__article__info_num {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 23px;
  font-weight: 400;
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__info_num {
    font-size: 18px;
  }
}

.realestate-detail__article__info_sm {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__info_sm {
    font-size: 11px;
  }
}

.realestate-detail__article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.realestate-detail__article__list2 {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__list2 {
    margin-bottom: 80px;
  }
}

.realestate-detail__article__item {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-family: noto-sans, sans-serif;
  border-bottom: solid 1px #8D7367;
  padding: 23px 12px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__item {
    width: 100%;
    font-size: 13px;
    padding: 12px 0px 11px;
  }
}
.realestate-detail__article__item:nth-child(-n+2) {
  border-top: solid 1px #8D7367;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__item:nth-child(-n+2) {
    border-top: solid 0 #8D7367;
  }
}

.realestate-detail__article__item2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-family: noto-sans, sans-serif;
  border-bottom: solid 1px #8D7367;
  padding: 23px 12px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__item2 {
    font-size: 13px;
    padding: 12px 0px 11px;
  }
}
.realestate-detail__article__item2:last-child {
  border-top: solid 1px #8D7367;
}

.realestate-detail__article__item__head {
  color: #8D7367;
  width: 35%;
}

.realestate-detail__article__item__body {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__item__body {
    line-height: 1.92;
  }
}

.realestate-detail__article__item__head2 {
  color: #8D7367;
  width: 15%;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__item__head2 {
    width: 35%;
  }
}

.realestate-detail__article__item__body2 {
  width: 85%;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__item__body2 {
    width: 75%;
    line-height: 1.92;
  }
}

.realestate-detail__article__item3 {
  list-style: none;
}

.realestate-detail__article__map {
  margin-top: 100px;
  margin-bottom: 58px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__map iframe {
    height: 335px;
  }
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__map {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.realestate-detail__article__btn .btn {
  font-size: 14px;
  margin: 0 auto 70px;
}
@media screen and (max-width: 768px) {
  .realestate-detail__article__btn .btn {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.icon_forsale {
  display: none;
}

.icon_forrent {
  display: none;
}

.icon_soldout {
  display: none;
}

.icon_seiyakuzumi {
  display: none;
}/*# sourceMappingURL=real-estate.css.map */