.top_mv {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/story01/mv.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv {
    background-image: url(../img/story01/mv_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv.story02 {
  background-image: url(../img/story02/mv.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv.story02 {
    background-image: url(../img/story02/mv_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv.story03 {
  background-image: url(../img/story03/mv.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv.story03 {
    background-image: url(../img/story03/mv_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv.story04 {
  background-image: url(../img/story04/mv.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv.story04 {
    background-image: url(../img/story04/mv_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv.story05 {
  background-image: url(../img/story05/mv.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv.story05 {
    background-image: url(../img/story05/mv_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv.story06 {
  background-image: url(../img/story06/mv.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv.story06 {
    background-image: url(../img/story06/mv_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv .textwrap {
  width: 95%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.top_mv .textwrap .blocktitle {
  width: 100%;
  font-size: 8.8rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  margin-top: 40px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .blocktitle {
    font-size: 9vw;
    font-weight: 600;
    margin-top: 25px;
  }
  .top_mv .textwrap .blocktitle.sp_f85vw {
    font-size: 8.5vw;
  }
}
.top_mv .textwrap .sub {
  font-size: 2.4rem;
  letter-spacing: 0.15em;
  color: #fff;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .sub {
    font-size: 1.7rem;
    margin-top: 25px;
  }
}

.outline_area {
  padding: 70px 0 85px;
}
@media screen and (max-width: 768px) {
  .outline_area {
    padding: 80px 0 50px;
  }
}
.outline_area > .title {
  font-size: 3.6rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .outline_area > .title {
    font-size: 2.4rem;
  }
}
.outline_area .info {
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .outline_area .info {
    margin-top: 20px;
  }
}
.outline_area .info .text01 {
  font-size: 2rem;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .outline_area .info .text01 {
    font-size: 1.6rem;
  }
}
.outline_area > .sub {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 135px;
}
@media screen and (max-width: 768px) {
  .outline_area > .sub {
    font-size: 2rem;
    margin-top: 80px;
  }
}
.outline_area > .sub:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #330115;
  margin: 5px auto 0;
  display: block;
}
.outline_area .text02 {
  font-size: 2rem;
  text-align: center;
  line-height: 2.4;
  letter-spacing: 0.1em;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .outline_area .text02 {
    width: 85%;
    font-size: 1.6rem;
    text-align: justify;
    margin: 25px auto 0;
  }
  .outline_area .text02 br {
    display: none;
  }
}

.content_area {
  padding: 85px 0 90px;
}
@media screen and (max-width: 768px) {
  .content_area {
    padding: 50px 0;
  }
}
.content_area .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 175px;
}
@media screen and (max-width: 960px) {
  .content_area .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .content_area .block {
    margin-top: 100px;
  }
}
.content_area .block:first-child {
  margin-top: 0;
}
.content_area .block:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 960px) {
  .content_area .block:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.content_area .block:nth-child(2n) .textwrap {
  margin: 60px auto 0 0;
}
@media screen and (max-width: 960px) {
  .content_area .block:nth-child(2n) .textwrap {
    margin: 50px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .content_area .block:nth-child(2n) .textwrap {
    margin-top: 40px;
  }
}
.content_area .block:nth-child(2n) > picture {
  margin-left: 0;
  margin-right: 100px;
}
@media screen and (max-width: 1330px) {
  .content_area .block:nth-child(2n) > picture {
    margin-right: 50px;
  }
}
@media screen and (max-width: 960px) {
  .content_area .block:nth-child(2n) > picture {
    margin: 0 auto;
  }
}
.content_area .block .textwrap {
  width: calc(100% - 940px);
  margin: 60px 0 0 auto;
}
@media screen and (max-width: 1330px) {
  .content_area .block .textwrap {
    width: calc(100% - 55vw - 110px);
  }
}
@media screen and (max-width: 1200px) {
  .content_area .block .textwrap {
    width: calc(100% - 40vw - 110px);
  }
}
@media screen and (max-width: 960px) {
  .content_area .block .textwrap {
    width: 90%;
    margin: 50px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .content_area .block .textwrap {
    margin-top: 40px;
  }
}
.content_area .block .textwrap .title {
  font-size: 3.4rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .content_area .block .textwrap .title {
    font-size: 2.3rem;
  }
}
.content_area .block .textwrap .text {
  font-size: 1.6rem;
  line-height: 2.6;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .content_area .block .textwrap .text {
    margin-top: 35px;
    text-align: justify;
  }
  .content_area .block .textwrap .text br {
    display: none;
  }
}
.content_area .block > picture {
  margin-left: 100px;
}
@media screen and (max-width: 1330px) {
  .content_area .block > picture {
    width: 55vw;
    margin-left: 50px;
  }
  .content_area .block > picture img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .content_area .block > picture {
    width: 40vw;
  }
}
@media screen and (max-width: 960px) {
  .content_area .block > picture {
    width: 90%;
    margin: 0 auto;
  }
}
.content_area .block > picture img {
  display: block;
}

.epilogue_area {
  padding: 90px 0;
}
@media screen and (max-width: 768px) {
  .epilogue_area {
    padding: 50px 0;
  }
}
.epilogue_area .wrap {
  width: 90%;
  margin: 0 auto;
  padding: 90px 0;
  border-top: solid 1px #330115;
  border-bottom: solid 1px #330115;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .epilogue_area .wrap {
    padding: 50px 0;
  }
}
.epilogue_area .wrap .title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .epilogue_area .wrap .title {
    font-size: 2rem;
  }
}
.epilogue_area .wrap .title:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #330115;
  margin: 5px auto 0;
  display: block;
}
.epilogue_area .wrap .text {
  font-size: 1.8rem;
  line-height: 2.4;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .epilogue_area .wrap .text {
    font-size: 1.6rem;
    line-height: 2;
    text-align: justify;
  }
  .epilogue_area .wrap .text br {
    display: none;
  }
}

.other_area {
  padding: 90px 0 200px;
}
@media screen and (max-width: 768px) {
  .other_area {
    padding: 50px 0 100px;
  }
}
.other_area > .title {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .other_area > .title {
    font-size: 3rem;
  }
}
.other_area .otherwrap {
  width: 100%;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .other_area .otherwrap {
    display: block;
    margin-top: 40px;
  }
}
.other_area .otherwrap .block {
  width: calc(33.333% - 4px);
  margin-right: 6px;
  display: block;
  background-image: url(../img/story/otherimg01.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .other_area .otherwrap .block {
    width: 90%;
    margin: 0 auto;
  }
  .other_area .otherwrap .block:nth-child(n+2) {
    margin-top: 4px;
  }
}
.other_area .otherwrap .block:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .other_area .otherwrap .block:nth-child(3n) {
    margin-right: auto;
  }
}
.other_area .otherwrap .block:nth-child(n+4) {
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .other_area .otherwrap .block:nth-child(n+4) {
    margin-top: 4px;
  }
}
.other_area .otherwrap .block:after {
  content: "";
  height: 0;
  padding-top: 57%;
  display: block;
}
.other_area .otherwrap .block.story02 {
  background-image: url(../img/story/otherimg02.jpg);
  background-position: center center;
  background-size: cover;
}
.other_area .otherwrap .block.story03 {
  background-image: url(../img/story/otherimg03.jpg);
  background-position: center center;
  background-size: cover;
}
.other_area .otherwrap .block.story04 {
  background-image: url(../img/story/otherimg04.jpg);
  background-position: center center;
  background-size: cover;
}
.other_area .otherwrap .block.story05 {
  background-image: url(../img/story/otherimg05.jpg);
  background-position: center center;
  background-size: cover;
}
.other_area .otherwrap .block.story06 {
  background-image: url(../img/story/otherimg06.jpg);
  background-position: center center;
  background-size: cover;
}
.other_area .otherwrap .block .textwrap {
  width: 90%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: center;
}
.other_area .otherwrap .block .textwrap .title {
  font-size: 2.7rem;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .other_area .otherwrap .block .textwrap .title {
    font-size: 2.3rem;
  }
}
.other_area .otherwrap .block .textwrap .text {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #fff;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .other_area .otherwrap .block .textwrap .text {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=story_detail.css.map */