body {
  background-color: transparent;
}
body:before {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/top/top_back.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  body:before {
    background-image: url(../img/top/top_back_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}

.top_mv {
  width: 100%;
  height: 100vh;
  position: relative;
}
.top_mv .newswrap {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1010px) {
  .top_mv .newswrap {
    width: calc(100% - 40px);
    left: 20px;
    bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .top_mv .newswrap {
    width: calc(100% - 24px);
    left: 12px;
  }
}
.top_mv .newswrap .cate {
  font-size: 2rem;
  color: #fff;
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  .top_mv .newswrap .cate {
    font-size: 1.8rem;
    line-height: 1;
    margin-right: 9px;
  }
}
.top_mv .newswrap .text {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
  border-bottom: solid 1px #fff;
  padding-bottom: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .top_mv .newswrap .text {
    font-size: 1.3rem;
  }
}
.top_mv .newswrap.pickupnews {
  bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .top_mv .newswrap.pickupnews {
    bottom: 65px;
  }
  .top_mv .newswrap.pickupnews .block {
    margin-bottom: 10px;
  }
  .top_mv .newswrap.pickupnews .block:last-child {
    margin-bottom: 0;
  }
}
.top_mv .sliderwrap {
  width: 100%;
  height: 100%;
}
.top_mv .sliderwrap .block {
  width: 100%;
  height: 100%;
  position: relative;
}
.top_mv .sliderwrap .block > span {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.top_mv .sliderwrap .block > span.pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block > span.pc {
    display: none;
  }
}
.top_mv .sliderwrap .block.slide01 {
  background-image: url(../img/top/top_mv01.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block.slide01 {
    background-image: url(../img/top/top_mv01_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv .sliderwrap .block.slide02 {
  background-image: url(../img/top/top_mv02.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block.slide02 {
    background-image: url(../img/top/top_mv02_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.top_mv .sliderwrap .block.slide03 {
  background-image: url(../img/top/top_mv03.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block.slide03 {
    background-image: url(../img/top/top_mv03_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block.slide03 .textwrap {
    top: 43%;
  }
}
.top_mv .sliderwrap .block.slide03 .textwrap img {
  margin-bottom: 50px;
}
.top_mv .sliderwrap .block.slide04 {
  background-image: url(../img/top/top_mv04.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block.slide04 {
    background-image: url(../img/top/top_mv04_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .block.slide04 .textwrap {
    top: 43%;
  }
}
.top_mv .sliderwrap .slick-list {
  width: 100%;
  height: 100%;
}
.top_mv .sliderwrap .slick-list .slick-track {
  height: 100%;
}
.top_mv .sliderwrap .slick-dots {
  bottom: 120px;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .slick-dots {
    bottom: 180px;
  }
}
.top_mv .sliderwrap .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .slick-dots li {
    width: 7px;
    height: 7px;
  }
}
.top_mv .sliderwrap .slick-dots li button {
  width: 10px;
  height: 10px;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .slick-dots li button {
    width: 7px;
    height: 7px;
  }
}
.top_mv .sliderwrap .slick-dots li button:before {
  width: 10px;
  height: 10px;
  font-size: 0;
  border: solid 1px #fff;
  border-radius: 50%;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .top_mv .sliderwrap .slick-dots li button:before {
    width: 7px;
    height: 7px;
  }
}
.top_mv .sliderwrap .slick-dots li.slick-active button:before {
  background-color: #fff;
}
.top_mv .textwrap {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap {
    padding-top: 0;
  }
}
.top_mv .textwrap.w690 {
  width: 690px;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap.w690 {
    width: 90%;
  }
}
.top_mv .textwrap.w924 {
  width: 924px;
}
.top_mv .textwrap.w100 {
  width: 100%;
}
.top_mv .textwrap .title {
  font-size: 11rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .top_mv .textwrap .title {
    font-size: 11vw;
  }
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .title {
    font-size: 13.5vw;
  }
}
.top_mv .textwrap .sub {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .sub {
    font-size: 2rem;
  }
}
.top_mv .textwrap .text {
  font-size: 1.9rem;
  color: #fff;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .text {
    font-size: 1.6rem;
    margin-top: 25px;
  }
}
.top_mv .textwrap .btn_more {
  width: 230px;
  height: 55px;
  border: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 0;
  position: relative;
  background-image: url(../img/top/top_mv02_btnback.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .btn_more {
    width: 190px;
    height: 45px;
    margin-top: 44px;
    background-image: url(../img/top/top_mv02_btnback_sp.jpg);
  }
}
.top_mv .textwrap .btn_more span {
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .btn_more span {
    font-size: 1.4rem;
  }
}
.top_mv .textwrap .btn_more:after {
  content: "";
  width: 16px;
  height: 10px;
  background-image: url(../img/common/icon_arrow.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .btn_more:after {
    width: 12px;
    height: 8px;
  }
}
.top_mv .textwrap .mv_img img {
  display: block;
  margin: auto;
}
@media screen and (max-width: 1280px) {
  .top_mv .textwrap .mv_img img {
    width: 75%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .top_mv .textwrap .mv_img img {
    width: 90%;
  }
}
.top_mv .concept_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top_mv .concept_text span {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .top_mv .concept_text.pc_only {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .top_mv .concept_text.sp_only {
    display: none;
  }
}
.top_mv .concept_text .sp_text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .top_mv .btn_more.pc_only {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .top_mv .btn_more.sp_only {
    display: none;
  }
}
.top_mv .c-text img {
  width: 117px;
}
.top_mv .c-text .title {
  font-size: 78px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.7rem;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .top_mv .c-text .title {
    font-size: 11vw;
    letter-spacing: 1rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 768px) {
  .top_mv .c-text .title {
    font-size: 13.5vw;
  }
}
@media screen and (max-width: 960px) {
  .top_mv .c-text .title .sp {
    display: block;
  }
}

.concept_area {
  padding: 150px 0 145px;
}
@media screen and (max-width: 768px) {
  .concept_area {
    padding: 100px 0;
  }
}
.concept_area .wrap {
  text-align: center;
}
.concept_area .wrap .sub {
  font-size: 3rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .sub {
    font-size: 1.8rem;
  }
}
.concept_area .wrap .title {
  font-size: 5.5rem;
  line-height: 1.2;
  letter-spacing: 0.25em;
  color: #fff;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .title {
    font-size: 7.5vw;
    margin-top: 45px;
  }
}
.concept_area .wrap .text {
  font-size: 1.85rem;
  line-height: 2.8;
  color: #fff;
  margin-top: 75px;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .text {
    width: 90%;
    font-size: 1.5rem;
    line-height: 2.2;
    text-align: justify;
    margin: 40px auto 0;
  }
  .concept_area .wrap .text br {
    display: none;
  }
}
.concept_area .wrap .yamadatakken img {
  display: block;
  margin: 90px auto 0;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .yamadatakken img {
    width: 65%;
    height: auto;
    margin-top: 60px;
  }
}
.concept_area .wrap .link {
  width: 660px;
  height: 130px;
  background-color: rgba(80, 80, 80, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: solid 2px #fff;
  margin: 75px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .link {
    width: 90%;
    height: 75px;
    margin-top: 60px;
  }
}
.concept_area .wrap .link.mgt {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .link.mgt {
    margin-top: 10px;
  }
}
.concept_area .wrap .link::after {
  content: "";
  width: 21px;
  height: 14px;
  background-image: url(../img/common/icon_arrow.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 36px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .link::after {
    display: none;
  }
}
.concept_area .wrap .link div {
  font-size: 2.1rem;
  text-align: center;
  margin: auto;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .link div {
    font-size: 1.4rem;
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
    letter-spacing: 0.2em;
  }
}
.concept_area .wrap .link div span {
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .concept_area .wrap .link div span {
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
}

.bg_area {
  width: 100%;
  background-image: url(../img/top/bg_img.jpg);
  background-position: center center;
  background-size: 100%;
  background-repeat: repeat-y;
  padding: 200px 0 115px;
}
.bg_area.area01 {
  padding: 150px 0;
}
@media screen and (max-width: 768px) {
  .bg_area.area01 {
    padding: 100px 0;
  }
}
@media screen and (max-width: 768px) {
  .bg_area {
    padding: 95px 0 120px;
  }
}

.storys_area > .title {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .storys_area > .title {
    max-width: 90%;
    height: auto;
  }
}
.storys_area > .text {
  font-size: 2rem;
  text-align: center;
  line-height: 2.4;
  color: #330115;
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .storys_area > .text {
    width: 95%;
    font-size: 3.6vw;
    letter-spacing: 0.15em;
    line-height: 1.8;
    margin: 30px auto 0;
  }
}
.storys_area .linkwrap {
  width: 100%;
  margin-top: 60px;
}
.storys_area .linkwrap .linkblock {
  width: 100%;
  position: relative;
  background-image: url(../img/top/storys_img01.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock {
    background-image: url(../img/top/storys_img01_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.storys_area .linkwrap .linkblock:before {
  content: "";
  height: 0;
  padding-top: 43%;
  display: block;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:before {
    padding-top: 150%;
  }
}
.storys_area .linkwrap .linkblock:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:after {
    display: none;
  }
}
.storys_area .linkwrap .linkblock:first-child {
  margin-top: 0;
}
.storys_area .linkwrap .linkblock:nth-child(2) {
  background-image: url(../img/top/storys_img02.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:nth-child(2) {
    background-image: url(../img/top/storys_img02_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.storys_area .linkwrap .linkblock:nth-child(3) {
  background-image: url(../img/top/storys_img03.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:nth-child(3) {
    background-image: url(../img/top/storys_img03_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.storys_area .linkwrap .linkblock:nth-child(4) {
  background-image: url(../img/top/storys_img04.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:nth-child(4) {
    background-image: url(../img/top/storys_img04_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.storys_area .linkwrap .linkblock:nth-child(5) {
  background-image: url(../img/top/storys_img05.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:nth-child(5) {
    background-image: url(../img/top/storys_img05_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.storys_area .linkwrap .linkblock:nth-child(6) {
  background-image: url(../img/top/storys_img06.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock:nth-child(6) {
    background-image: url(../img/top/storys_img06_sp.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.storys_area .linkwrap .linkblock:hover {
  opacity: 1;
}
.storys_area .linkwrap .linkblock:hover * {
  opacity: 1;
}
.storys_area .linkwrap .linkblock:hover:after {
  opacity: 1;
}
.storys_area .linkwrap .linkblock:hover .more:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.storys_area .linkwrap .linkblock .textwrap {
  position: absolute;
  top: 50%;
  left: 70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock .textwrap {
    width: 90%;
    top: 75px;
    left: 5%;
    -webkit-transform: none;
            transform: none;
  }
  .storys_area .linkwrap .linkblock .textwrap > img {
    width: auto;
    height: 13px;
  }
}
.storys_area .linkwrap .linkblock .textwrap .blocktitle {
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock .textwrap .blocktitle {
    font-size: 8vw;
    margin-top: 25px;
  }
}
.storys_area .linkwrap .linkblock .textwrap .sub {
  font-size: 2rem;
  color: #fff;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock .textwrap .sub {
    font-size: 1.4rem;
    letter-spacing: 0.15em;
    margin-top: 5px;
  }
}
.storys_area .linkwrap .linkblock .textwrap .blocktext {
  font-size: 3rem;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 0.3em;
  color: #fff;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock .textwrap .blocktext {
    font-size: 1.8rem;
    letter-spacing: 0.2em;
  }
}
.storys_area .linkwrap .linkblock .more {
  font-size: 2rem;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: #fff;
  padding-bottom: 10px;
  position: absolute;
  right: 70px;
  bottom: 70px;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock .more {
    font-size: 1.6rem;
    right: unset;
    left: 5%;
    bottom: 60px;
    padding-bottom: 5px;
  }
}
.storys_area .linkwrap .linkblock .more:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media screen and (max-width: 768px) {
  .storys_area .linkwrap .linkblock .more:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.sp_text_content img {
  width: 100% !important;
}

.sp_text_content {
  width: 206px;
  margin: 41px auto 0;
}

.lifestylelog_area {
  padding-top: 130px;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area {
    padding-top: 105px;
  }
}
.lifestylelog_area > .sub {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 960px) {
  .lifestylelog_area > .sub {
    font-size: 1.7rem;
  }
}
.lifestylelog_area > .title {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .lifestylelog_area > .title {
    max-width: 90%;
    height: auto;
  }
}
.lifestylelog_area > .text {
  font-size: 2rem;
  text-align: center;
  line-height: 2.4;
  color: #330115;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area > .text {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    line-height: 1.8;
    margin-top: 15px;
  }
}
.lifestylelog_area .logwrap {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 0;
}
@media screen and (max-width: 1315px) {
  .lifestylelog_area .logwrap {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .logwrap {
    display: block;
    border-bottom: solid 2px #330115;
    padding-bottom: 20px;
  }
  .lifestylelog_area .logwrap .slick-dots {
    bottom: -40px;
  }
  .lifestylelog_area .logwrap .slick-dots li {
    margin: 0 2px;
  }
  .lifestylelog_area .logwrap .slick-dots li button:before {
    font-size: 9px;
  }
  .lifestylelog_area .logwrap .slick-prev {
    width: 85px;
    height: auto;
    top: unset;
    left: 0;
    bottom: -45px;
    z-index: 10;
  }
  .lifestylelog_area .logwrap .slick-prev:before {
    content: "PREV";
    font-family: copperplate, serif;
    font-size: 14px;
    font-weight: 600;
    color: #330115;
    opacity: 1;
  }
  .lifestylelog_area .logwrap .slick-prev:after {
    content: "";
    width: 14px;
    height: 9px;
    position: absolute;
    top: 45%;
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    background-image: url(../img/common/icon_arrow_brown.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lifestylelog_area .logwrap .slick-next {
    width: 85px;
    height: auto;
    top: unset;
    right: 0;
    bottom: -45px;
    z-index: 10;
  }
  .lifestylelog_area .logwrap .slick-next:before {
    content: "NEXT";
    font-family: copperplate, serif;
    font-size: 14px;
    font-weight: 600;
    color: #330115;
    opacity: 1;
  }
  .lifestylelog_area .logwrap .slick-next:after {
    content: "";
    width: 14px;
    height: 9px;
    position: absolute;
    top: 45%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/common/icon_arrow_brown.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.lifestylelog_area .logwrap .logblock {
  width: calc(33.3% - 8px);
  margin-right: 12px;
  display: block;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .logwrap .logblock {
    width: 100%;
    margin-right: 0;
    margin: 0 5px;
  }
}
.lifestylelog_area .logwrap .logblock:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .logwrap .logblock:nth-child(3n) {
    margin: 0 5px;
  }
}
.lifestylelog_area .logwrap .logblock:nth-child(n+4) {
  margin-top: 36px;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .logwrap .logblock:nth-child(n+4) {
    margin-top: 0;
  }
}
.lifestylelog_area .logwrap .logblock .imgwrap {
  background-position: center center;
  background-size: cover;
  display: block;
}
.lifestylelog_area .logwrap .logblock .imgwrap:before {
  content: "";
  height: 0;
  padding-top: 66.6%;
  display: block;
}
.lifestylelog_area .logwrap .logblock .no {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  color: #330115;
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .logwrap .logblock .no {
    font-size: 1.2rem;
  }
}
.lifestylelog_area .logwrap .logblock .logtitle {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: justify;
  color: #330115;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .logwrap .logblock .logtitle {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
  }
}
.lifestylelog_area .morebtn {
  width: 345px;
  height: 82px;
  border: solid 2px #330115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 50px auto 0;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .morebtn {
    width: 230px;
    height: 55px;
    margin-top: 80px;
  }
}
.lifestylelog_area .morebtn:after {
  content: "";
  width: 18px;
  height: 12px;
  background-image: url(../img/common/icon_arrow_brown.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .morebtn:after {
    width: 14px;
    height: 9px;
    right: 15px;
  }
}
.lifestylelog_area .morebtn span {
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .lifestylelog_area .morebtn span {
    font-size: 1.8rem;
  }
}

.networkbusiness_area {
  padding-top: 130px;
}
@media screen and (max-width: 768px) {
  .networkbusiness_area {
    padding-top: 105px;
  }
}
.networkbusiness_area > .sub {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 960px) {
  .networkbusiness_area > .sub {
    font-size: 1.7rem;
  }
}
.networkbusiness_area > .title {
  display: block;
  margin: 0 auto;
}
.networkbusiness_area > .title.sp {
  display: none;
}
@media screen and (max-width: 960px) {
  .networkbusiness_area > .title {
    max-width: 90%;
    height: auto;
  }
  .networkbusiness_area > .title.sp {
    display: block;
  }
  .networkbusiness_area > .title.pc {
    display: none;
  }
}
.networkbusiness_area > .text {
  font-size: 2rem;
  text-align: center;
  line-height: 2.4;
  color: #330115;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .networkbusiness_area > .text {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    line-height: 1.8;
    margin-top: 15px;
  }
}
.networkbusiness_area .network_wrap {
  width: 1140px;
  margin: 70px auto 0;
}
@media screen and (max-width: 1270px) {
  .networkbusiness_area .network_wrap {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .networkbusiness_area .network_wrap {
    margin-top: 45px;
  }
}
.networkbusiness_area .network_wrap .block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding-top: 50px;
  border-top: solid 1px #8D7367;
}
@media screen and (max-width: 960px) {
  .networkbusiness_area .network_wrap .block {
    display: block;
    margin-top: 40px;
    padding-top: 40px;
  }
}
.networkbusiness_area .network_wrap .block:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.networkbusiness_area .network_wrap .block > img {
  width: 570px;
  height: auto;
  display: block;
  margin-right: 40px;
}
@media screen and (max-width: 1200px) {
  .networkbusiness_area .network_wrap .block > img {
    width: 50%;
    margin-right: 30px;
  }
}
@media screen and (max-width: 960px) {
  .networkbusiness_area .network_wrap .block > img {
    width: 100%;
    margin-right: 0;
  }
}
.networkbusiness_area .network_wrap .block .right_info {
  width: calc(100% - 610px);
}
@media screen and (max-width: 960px) {
  .networkbusiness_area .network_wrap .block .right_info > img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }
  .networkbusiness_area .network_wrap .block .right_info > img.sp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .networkbusiness_area .network_wrap .block .right_info > img.pc {
    display: none;
  }
  .networkbusiness_area .network_wrap .block .right_info > img.sp {
    display: block;
  }
  .networkbusiness_area .network_wrap .block .right_info > img.sp_w155 {
    width: 155px;
    height: auto;
  }
  .networkbusiness_area .network_wrap .block .right_info > img.sp_w175 {
    width: 175px;
    height: auto;
  }
}
.networkbusiness_area .network_wrap .block .right_info > img.mgb {
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .networkbusiness_area .network_wrap .block .right_info {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 960px) {
  .networkbusiness_area .network_wrap .block .right_info {
    width: 100%;
    margin-top: 25px;
  }
}
.networkbusiness_area .network_wrap .block .right_info .info_text {
  font-size: 1.7rem;
  text-align: justify;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .networkbusiness_area .network_wrap .block .right_info .info_text {
    font-size: 1.4rem;
    margin-top: 25px;
  }
}
.networkbusiness_area .network_wrap .block .right_info .info {
  font-size: 1.5rem;
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  .networkbusiness_area .network_wrap .block .right_info .info {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .networkbusiness_area .network_wrap .block .right_info .info {
    font-size: 1.4rem;
  }
}
.networkbusiness_area .network_wrap .block .right_info .link {
  width: 100%;
  height: 56px;
  border: solid 1px #330115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  .networkbusiness_area .network_wrap .block .right_info .link {
    height: 40px;
  }
}
@media screen and (max-width: 960px) {
  .networkbusiness_area .network_wrap .block .right_info .link {
    height: 56px;
  }
}
@media screen and (max-width: 768px) {
  .networkbusiness_area .network_wrap .block .right_info .link {
    margin-top: 25px;
  }
}
.networkbusiness_area .network_wrap .block .right_info .link span {
  font-size: 1.8rem;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .networkbusiness_area .network_wrap .block .right_info .link span {
    font-size: 1.4rem;
  }
}
.networkbusiness_area .network_wrap .block .right_info .link:after {
  content: "";
  width: 20px;
  height: 14px;
  background-image: url(../img/common/icon_arrow_brown.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .networkbusiness_area .network_wrap .block .right_info .link:after {
    width: 16px;
    height: 10px;
    right: 12px;
  }
}

.news_area {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1315px) {
  .news_area {
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
  .news_area {
    display: block;
  }
}
.news_area .left_news {
  width: 50%;
  border-right: solid 1px #330115;
  padding-right: 45px;
}
@media screen and (max-width: 960px) {
  .news_area .left_news {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #330115;
    margin-bottom: 60px;
    padding-right: 0;
    padding-bottom: 60px;
  }
}
.news_area .right_openhouse {
  width: 50%;
  padding-left: 45px;
}
@media screen and (max-width: 960px) {
  .news_area .right_openhouse {
    width: 100%;
    padding-left: 0;
  }
}
.news_area .left_news .titlewrap, .news_area .right_openhouse .titlewrap {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .titlewrap, .news_area .right_openhouse .titlewrap {
    height: auto;
    display: block;
  }
  .news_area .left_news .titlewrap .title, .news_area .right_openhouse .titlewrap .title {
    width: auto;
    height: 24px;
    display: block;
    margin: 0 auto;
  }
}
.news_area .left_news .titlewrap .link, .news_area .right_openhouse .titlewrap .link {
  width: 100%;
  height: 100%;
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .titlewrap .link, .news_area .right_openhouse .titlewrap .link {
    height: 30px;
    margin: 30px auto 0;
  }
}
.news_area .left_news .titlewrap .link .btn, .news_area .right_openhouse .titlewrap .link .btn {
  width: calc(33.3% - 6px);
  height: 100%;
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #330115;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .titlewrap .link .btn, .news_area .right_openhouse .titlewrap .link .btn {
    width: calc(33.3% - 4px);
    margin-right: 6px;
  }
}
.news_area .left_news .titlewrap .link .btn span, .news_area .right_openhouse .titlewrap .link .btn span {
  font-size: 1.3rem;
  color: #330115;
  margin: auto;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.news_area .left_news .titlewrap .link .btn:last-child, .news_area .right_openhouse .titlewrap .link .btn:last-child {
  margin-right: 0;
}
.news_area .left_news .titlewrap .link .btn.active, .news_area .right_openhouse .titlewrap .link .btn.active {
  background-color: #330115;
  pointer-events: none;
}
.news_area .left_news .titlewrap .link .btn.active span, .news_area .right_openhouse .titlewrap .link .btn.active span {
  color: #F7EEDE;
}
.news_area .left_news .titlewrap .link .btn:hover, .news_area .right_openhouse .titlewrap .link .btn:hover {
  opacity: 1;
  background-color: #330115;
}
.news_area .left_news .titlewrap .link .btn:hover span, .news_area .right_openhouse .titlewrap .link .btn:hover span {
  color: #F7EEDE;
}
.news_area .left_news .titlewrap .link .btn:after, .news_area .right_openhouse .titlewrap .link .btn:after {
  display: none;
}
.news_area .left_news .newswrap, .news_area .right_openhouse .newswrap {
  margin-top: 45px;
  display: none;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap, .news_area .right_openhouse .newswrap {
    margin-top: 36px;
  }
}
.news_area .left_news .newswrap.active, .news_area .right_openhouse .newswrap.active {
  display: block;
}
.news_area .left_news .newswrap .newsblock, .news_area .right_openhouse .newswrap .newsblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock, .news_area .right_openhouse .newswrap .newsblock {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
  }
}
.news_area .left_news .newswrap .newsblock:first-child, .news_area .right_openhouse .newswrap .newsblock:first-child {
  margin-top: 0;
}
.news_area .left_news .newswrap .newsblock .imgwrap, .news_area .right_openhouse .newswrap .newsblock .imgwrap {
  width: 240px;
  display: block;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 1150px) {
  .news_area .left_news .newswrap .newsblock .imgwrap, .news_area .right_openhouse .newswrap .newsblock .imgwrap {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock .imgwrap, .news_area .right_openhouse .newswrap .newsblock .imgwrap {
    width: 50%;
  }
}
.news_area .left_news .newswrap .newsblock .imgwrap:before, .news_area .right_openhouse .newswrap .newsblock .imgwrap:before {
  content: "";
  height: 0;
  padding-top: 66.6%;
  display: block;
}
.news_area .left_news .newswrap .newsblock .textwrap, .news_area .right_openhouse .newswrap .newsblock .textwrap {
  width: calc(100% - 260px);
  margin-left: 20px;
}
@media screen and (max-width: 1150px) {
  .news_area .left_news .newswrap .newsblock .textwrap, .news_area .right_openhouse .newswrap .newsblock .textwrap {
    width: calc(100% - 180px);
  }
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock .textwrap, .news_area .right_openhouse .newswrap .newsblock .textwrap {
    width: calc(50% - 15px);
    margin-left: 15px;
  }
}
.news_area .left_news .newswrap .newsblock .textwrap .topwrap, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news_area .left_news .newswrap .newsblock .textwrap .topwrap .date, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap .date {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock .textwrap .topwrap .date, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap .date {
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
}
.news_area .left_news .newswrap .newsblock .textwrap .topwrap .cate, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap .cate {
  height: 21px;
  padding: 0 15px;
  border: solid 1px #330115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock .textwrap .topwrap .cate, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap .cate {
    height: 18px;
    padding: 0 5px;
  }
}
.news_area .left_news .newswrap .newsblock .textwrap .topwrap .cate span, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap .cate span {
  font-size: 1.1rem;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock .textwrap .topwrap .cate span, .news_area .right_openhouse .newswrap .newsblock .textwrap .topwrap .cate span {
    font-size: 0.9rem;
  }
}
.news_area .left_news .newswrap .newsblock .textwrap .newstitle, .news_area .right_openhouse .newswrap .newsblock .textwrap .newstitle {
  font-size: 1.6rem;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .newswrap .newsblock .textwrap .newstitle, .news_area .right_openhouse .newswrap .newsblock .textwrap .newstitle {
    font-size: 1.2rem;
  }
}
.news_area .left_news .morebtn, .news_area .right_openhouse .morebtn {
  width: 230px;
  height: 55px;
  border: solid 2px #330115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 70px auto 0;
}
@media screen and (max-width: 768px) {
  .news_area .left_news .morebtn, .news_area .right_openhouse .morebtn {
    margin-top: 40px;
  }
}
.news_area .left_news .morebtn:after, .news_area .right_openhouse .morebtn:after {
  content: "";
  width: 14px;
  height: 9px;
  background-image: url(../img/common/icon_arrow_brown.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .news_area .left_news .morebtn:after, .news_area .right_openhouse .morebtn:after {
    right: 15px;
  }
}
.news_area .left_news .morebtn span, .news_area .right_openhouse .morebtn span {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  margin: auto;
}

.banner_area {
  padding-top: 200px;
}
@media screen and (max-width: 768px) {
  .banner_area {
    padding-top: 100px;
  }
}
.banner_area .banner_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_top {
    display: block;
  }
}
.banner_area .banner_top .link_left, .banner_area .banner_top .link_right {
  width: calc(50% - 4px);
  background-image: url(../img/top/top_bnr02.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  display: block;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_top .link_left, .banner_area .banner_top .link_right {
    width: 100%;
  }
}
.banner_area .banner_top .link_left:before, .banner_area .banner_top .link_right:before {
  content: "";
  height: 0;
  padding-top: 60%;
  display: block;
}
.banner_area .banner_top .link_left .textwrap, .banner_area .banner_top .link_right .textwrap {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
@media screen and (max-width: 768px) {
  .banner_area .banner_top .link_left .textwrap, .banner_area .banner_top .link_right .textwrap {
    width: 100%;
  }
}
.banner_area .banner_top .link_left .textwrap .title, .banner_area .banner_top .link_right .textwrap .title {
  font-size: 3.6rem;
  line-height: 1;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_top .link_left .textwrap .title, .banner_area .banner_top .link_right .textwrap .title {
    font-size: 2.6rem;
    font-weight: 600;
  }
}
.banner_area .banner_top .link_left .textwrap .sub, .banner_area .banner_top .link_right .textwrap .sub {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
  margin-top: 9px;
}
.banner_area .banner_top .link_left {
  margin-right: 8px;
  background-image: url(../img/top/top_bnr01.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_top .link_left {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.banner_area .banner_middle {
  max-width: 1180px;
  margin: 75px auto 0;
}
@media screen and (max-width: 1315px) {
  .banner_area .banner_middle {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle {
    margin-top: 60px;
  }
}
.banner_area .banner_middle .link {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle .link {
    margin-top: 8px;
  }
}
.banner_area .banner_middle .link:before {
  content: "";
  height: 0;
  padding-top: 26.5%;
  display: block;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle .link:before {
    padding-top: 50%;
  }
}
.banner_area .banner_middle .link:first-child {
  background-image: url(../img/top/top_bnr03.jpg);
  background-position: center center;
  background-size: cover;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle .link:first-child {
    background-image: url(../img/top/top_bnr03_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.banner_area .banner_middle .link:nth-child(2) {
  background-image: url(../img/top/top_bnr04.jpg);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle .link:nth-child(2) {
    background-image: url(../img/top/top_bnr04_sp.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.banner_area .banner_middle .link .textwrap {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle .link .textwrap {
    width: 100%;
  }
}
.banner_area .banner_middle .link .textwrap .title {
  font-size: 3.6rem;
  line-height: 1;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_middle .link .textwrap .title {
    font-size: 2.6rem;
    font-weight: 600;
  }
}
.banner_area .banner_middle .link .textwrap .sub {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
  margin-top: 9px;
}
.banner_area .banner_foot {
  max-width: 1180px;
  margin: 100px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1315px) {
  .banner_area .banner_foot {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot {
    display: block;
    margin-top: 60px;
  }
}
.banner_area .banner_foot .link_rec, .banner_area .banner_foot .link_blog, .banner_area .banner_foot .link_contact {
  width: calc(33.3% - 8px);
  height: 160px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px #330115;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot .link_rec, .banner_area .banner_foot .link_blog, .banner_area .banner_foot .link_contact {
    width: 100%;
    height: 90px;
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.banner_area .banner_foot .link_rec:after, .banner_area .banner_foot .link_blog:after, .banner_area .banner_foot .link_contact:after {
  content: "";
  width: 22px;
  height: 14px;
  background-image: url(../img/common/icon_arrow_brown.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot .link_rec:after, .banner_area .banner_foot .link_blog:after, .banner_area .banner_foot .link_contact:after {
    width: 14px;
    height: 9px;
    right: 15px;
  }
}
.banner_area .banner_foot .link_rec .text, .banner_area .banner_foot .link_blog .text, .banner_area .banner_foot .link_contact .text {
  width: 100%;
  text-align: center;
}
.banner_area .banner_foot .link_rec .text span:first-child, .banner_area .banner_foot .link_blog .text span:first-child, .banner_area .banner_foot .link_contact .text span:first-child {
  font-size: 3.6rem;
  line-height: 1;
  font-weight: 600;
  margin: auto;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot .link_rec .text span:first-child, .banner_area .banner_foot .link_blog .text span:first-child, .banner_area .banner_foot .link_contact .text span:first-child {
    font-size: 2.6rem;
  }
}
.banner_area .banner_foot .link_rec .text span:last-child, .banner_area .banner_foot .link_blog .text span:last-child, .banner_area .banner_foot .link_contact .text span:last-child {
  font-size: 1.4rem;
  line-height: 1;
  display: block;
  margin: 9px auto 0;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot .link_rec .text span:last-child, .banner_area .banner_foot .link_blog .text span:last-child, .banner_area .banner_foot .link_contact .text span:last-child {
    margin-top: 5px;
  }
}
.banner_area .banner_foot .link_rec .hover_content, .banner_area .banner_foot .link_blog .hover_content, .banner_area .banner_foot .link_contact .hover_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(141, 115, 103, 0.2);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.banner_area .banner_foot .link_rec .hover_content > a, .banner_area .banner_foot .link_blog .hover_content > a, .banner_area .banner_foot .link_contact .hover_content > a {
  width: 100%;
  height: 50%;
  border-bottom: solid 1px #330115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.banner_area .banner_foot .link_rec .hover_content > a img, .banner_area .banner_foot .link_blog .hover_content > a img, .banner_area .banner_foot .link_contact .hover_content > a img {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot .link_rec .hover_content > a img, .banner_area .banner_foot .link_blog .hover_content > a img, .banner_area .banner_foot .link_contact .hover_content > a img {
    width: auto;
    height: 10px;
  }
}
.banner_area .banner_foot .link_rec .hover_content > a:last-child, .banner_area .banner_foot .link_blog .hover_content > a:last-child, .banner_area .banner_foot .link_contact .hover_content > a:last-child {
  border-bottom: none;
}
.banner_area .banner_foot .link_rec .hover_content > a:after, .banner_area .banner_foot .link_blog .hover_content > a:after, .banner_area .banner_foot .link_contact .hover_content > a:after {
  content: "";
  width: 14px;
  height: 9px;
  background-image: url(../img/common/icon_arrow_brown.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .banner_area .banner_foot .link_rec .hover_content > a:after, .banner_area .banner_foot .link_blog .hover_content > a:after, .banner_area .banner_foot .link_contact .hover_content > a:after {
    right: 10px;
  }
}
.banner_area .banner_foot .link_blog.active .text {
  opacity: 0;
}
.banner_area .banner_foot .link_blog.active:after {
  opacity: 0;
}
.banner_area .banner_foot .link_blog.active .hover_content {
  opacity: 1;
  pointer-events: all;
}

.footer {
  background-image: none;
}/*# sourceMappingURL=top.css.map */